<h1>Editing Membership</h1>

<%= render 'form' %>

<%= link_to 'Show', @membership %> |
<%= link_to 'Back', memberships_path %>
<%= link_to 'Delete this membership', @membership, method: :delete, data: { confirm: 'Are you sure?' } %>
