<h1>This is the account homepage</h1>

<h2>This account page will show all projects that belong to the account.</h2>


<p><%= link_to "Projects", projects_path %></p>
<p><%= link_to "New Project", new_project_path %></p>



