<h1>This is my account homepage</h1>

<h2>My Accounts</h2>
<p>Combine user.account and user.accessible_accounts. Invite a user to manage this account (member).</p>


<h2>My projects</h2>
<p>Combine user.projects and user.accessible_projects. Invite a user to this project (participant)</p>

<p><%= link_to "Projects", projects_path %></p>
<p><%= link_to "New Project", new_project_path %></p>



