<h1>You are now signed up!</h1>


  <h2>This is your main account:</h2>

<p>Combine user.account and user.accessible_accounts. Invite a user to manage this account (member).</p>


<h2>My projects</h2>
<p>Combine user.projects and user.accessible_projects. Invite a user to this project (participant)</p>
