

  <h2>Here are the users's projects and roles</h2>
  <br>
  <% @user.memberships.each do |membership| %>
    <strong>Project:</strong> <%= membership.project.name if membership.project.present? %><br>
    <strong>Role within <%= membership.project.name if membership.project.present? %></strong>: <%= membership.role.name if membership.role.present? %>
    <br>
    <%= link_to "Edit this user", edit_membership_path(membership) %><br><br>
  <% end %>
